nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}
body{
    color: var(--dark-02, #474747);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
span{
    color: #FD6E0A;
}
nav > ul{
    display: flex;
    align-items: center;
    
}
nav li{
    list-style: none;
    margin-right: 51px;
    color: var(--dark-02, #474747);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
nav a{
    text-decoration: none;
    color:#474747 ;
}
.primary{
    color: var(--white-color, #FFF);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: auto;
    height: 64px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    padding: 18px 35px;
}
.header{
    background-color: #f1914c15;
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px 30px 0px 50px;
    display: flex;
    align-items: center;
}
.banner .profile{
    width: 400px;
    padding: 0 0 0 190px;
}
.title{
    color: var(--dark-01, #181818);
font-family: Open Sans;
font-size: 55px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 5px;
margin-bottom: 0px;
}
.grt{
    margin-bottom: 5px;
}
main{
    max-width: 2000px;
    justify-content: center;
    margin: 0 auto;
}
.about{
    border-radius: 10px;
    padding: 130px;
    color: #181818;
    background-color: #FFF8F3;
    margin: 130px;
    
}
.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight:700 ;
    line-height: normal;
}

.section-descriptio{
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    display: flex;
    width: 909px;
    flex-direction: column;
    flex-shrink: 0;

}
.about-info-container{
    display: flex;
    justify-content: space-around;

}
.about-info{
    text-align: center;
}